<section id="footer" class="text-white text-center">
  <div class="top-footer">
    <div class="container pt-4">
      <div class="row m-4">
        <div class="col-sm-4">
          <h3>LOCATION</h3>
          <P>2215 John Daniel Drive</P>
          <P>Clark, MO 65243</P>
        </div>
        <div class="col-sm-4">
          <h3>AROUND THE WEB</h3>
          <div class="icons d-flex justify-content-center align-items-center gap-2">

            <div class="icon d-flex justify-content-center align-items-center">
              <i class="fa-brands fa-facebook mx-1"></i>
            </div>

            <div class="icon d-flex justify-content-center align-items-center">
              <i class="fa-brands fa-twitter mx-1"></i>
            </div>

            <div class="icon d-flex justify-content-center align-items-center">
              <i class="fa-brands fa-linkedin-in mx-1"></i>
            </div>

            <div class="icon d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-globe mx-1"></i>
            </div>

          </div>

        </div>
        <div class="col-sm-4">
          <h3>ABOUT FREELANCER</h3>
          <P>Freelance is a free to use, licensed Bootstrap theme created by Route</P>
        </div>
      </div>
    </div>

  </div>

  <div class="bottom-footer text-center">
    <p>Copyright © Your Website 2021</p>

  </div>
</section>

