<section id="contact" class="py-5">
  <div class="container">
    <h2 class="text-center">CONTACT SECTION</h2>

    <div
      class="div-shape mt-3 d-flex justify-content-center align-items-center gap-3 mb-5">
      <div class="shape"></div>
      <i class="fa-solid fa-star"></i>
      <div class="shape"></div>
    </div>

    <form class="w-50 mx-auto p-3" onsubmit="return false">
      <label for="userName" class="position-relative mb-2" [class]="userName?'showTop':'hideTop'">userName :</label>
      <input type="text" name="userName" placeholder="userName"
        class="form-control border-0 border-bottom py-3 shadow-none position-relative" (keyup)="userNameInput($event)">

      <label for="userAge" class="position-relative mb-2" [class]="userAge?'showTop':'hideTop'">userAge :</label>
      <input type="text" name="userAge" placeholder="userAge"
        class="form-control border-0 border-bottom py-3 shadow-none position-relative" (keyup)="userAgeInput($event)">

      <label for="userEmail" class="position-relative mb-2" [class]="userEmail?'showTop':'hideTop'">userEmail :</label>
      <input type="email" placeholder="userEmail"
        class="form-control border-0 border-bottom py-3 shadow-none position-relative" (keyup)="userEmailInput($event)">

      <label for="userPassword" class="position-relative mb-2" [class]="userPassword?'showTop':'hideTop'">userPassword :</label>
      <input type="password" placeholder="userPassword"
        class="form-control border-0 border-bottom py-3 shadow-none position-relative" (keyup)="userPasswordInput($event)">

      <button class="btn rounded-2 text-white mt-4" type="submit">Send Message</button>
    </form>

  </div>

</section>
