<section id="portfolio" class="text-center py-5">

  <h2>PORTFOLIO COMPONENT</h2>

  <div class="div-shape mt-3 d-flex justify-content-center align-items-center gap-3 mb-3">
    <div class="shape"></div>
    <i class="fa-solid fa-star"></i>
    <div class="shape"></div>
  </div>

  <div class="container">
    <div class="row g-5">

      <div class="col-md-6 col-lg-4">
        <div class="photo-portfolio position-relative rounded-3 overflow-hidden">
          <a href="https://www.facebook.com/?locale=ar_AR"><img src="assets/images/poert1.png" class="img-fluid" alt="portfolio-photo"></a>
          <div class="layer-photo d-flex justify-content-center align-items-center position-absolute">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="photo-portfolio position-relative rounded-3 overflow-hidden">
          <img src="assets/images/port2.png" class="img-fluid" alt="portfolio-photo">
          <div class="layer-photo d-flex justify-content-center align-items-center position-absolute">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="photo-portfolio position-relative rounded-3 overflow-hidden">
          <img src="assets/images/port3.png" class="img-fluid" alt="portfolio-photo">
          <div class="layer-photo d-flex justify-content-center align-items-center position-absolute">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>



      </div>
      <div class="col-md-6 col-lg-4">
        <div class="photo-portfolio position-relative rounded-3 overflow-hidden">
          <img src="assets/images/poert1.png" class="img-fluid" alt="portfolio-photo">
          <div class="layer-photo d-flex justify-content-center align-items-center position-absolute">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>



      </div>
      <div class="col-md-6 col-lg-4">
        <div class="photo-portfolio position-relative rounded-3 overflow-hidden">
          <img src="assets/images/port2.png" class="img-fluid" alt="portfolio-photo">
          <div class="layer-photo d-flex justify-content-center align-items-center position-absolute">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="photo-portfolio position-relative rounded-3 overflow-hidden">
          <img src="assets/images/port3.png" class="img-fluid" alt="portfolio-photo">
          <div class="layer-photo d-flex justify-content-center align-items-center position-absolute">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="light-box-container d-none justify-content-center align-items-center">
    <div class="light-box">
      <img [src]="source" alt="">
    </div>
  </div> -->

</section>

