<section id="home" class="d-flex justify-content-center align-items-center text-white">
  <div class="home-content text-center">
    <img src="assets/images/avataaars.svg" alt="home-photo">
    <h2 class="mt-3">START FRAMEWORK</h2>

    <div class="div-shape mt-3 d-flex justify-content-center align-items-center gap-3 mb-3">
      <div class="shape"></div>
      <i class="fa-solid fa-star"></i>
      <div class="shape"></div>
    </div>

    <div class="home-footer">
      <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>

  </div>
</section>
